<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>helloworld-rs</display-name>


	<!-- Session Timeout -->
	<session-config>
		<session-timeout>20</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- OpenAM filter to secure application -->
	<filter>
		<display-name>Agent</display-name>
		<filter-name>Agent</filter-name>
		<filter-class>com.microsoft.azure.appservice.EasyAuthFilter</filter-class>
	</filter> 
	
	<filter-mapping>  
		<filter-name>Agent</filter-name> 
		<url-pattern>/rest/*</url-pattern> 
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher> 
		<dispatcher>FORWARD</dispatcher> 
		<dispatcher>ERROR</dispatcher>
	</filter-mapping> 

</web-app>

